*{
  box-sizing: border-box;
  font-family: league;
  transition: 0.3s;
}

@font-face{
  font-family: league ;
  src: url(../public/font/LeagueSpartan-VariableFont_wght.ttf);
}

:root{
  --color:hsl(198, 20%, 13%);
}

body{
 display: flex;
 flex-direction: column;
 color: hsl(198, 20%, 13%);
 overflow-x: hidden;
}




nav{
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding: 0 30px;
  margin-left: -8px;
  z-index: 2;
  background-color: white;
}

.logo{
  font-size: 1.2rem;
}



nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .link{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color);
  font-weight: 600;
  text-decoration: none;
}

.download{
  margin-bottom: 5px;
}

nav ul li{
  list-style: none;
  margin-right: 15px;
  font-weight: 600;
  padding: 10px;
}

.mainmain{
  z-index: 1;
  display: flex;
  flex-direction: column;
 width: 100vw;
 height: fit-content;
  position: absolute;
  left: 0;
  top: 0;
  /*border: 1px solid red;*/
}

.main{
 /*border: 1px solid red;*/
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.des{
  width: 30%;
  line-height: 40px;
}

.des a{
  color: var(--color);
}

.html, .css, .react, .js{
  position: relative;
  top: 5px;
  height: 25px;
  width: 25px;
  margin-top: 2px;
  /*margin: 0px 20px ;*/
}

.github{
  height: 25px;
  width: 25px;
}



.person{
  height: 50%;
  width: 20%;
  
  /*border: 1px solid red;*/
  margin-bottom: 100px;
}

.contacts{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.twitter, .gmail, .instagram{
  width: 25px;
  height: 25px;
}


.techs{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*project*/

.projectmain{
  align-items: center;
  margin-top: 60px;
  display: flex;
  width: 100vw;
  /*margin-left: -8px;*/
  flex-direction: column;
  color: var(--color);

  height: fit-content;
  margin-bottom: -50px;
  /*padding-bottom: 300px;*/
}

.projectmain a{
  color: var(--color);
}


.screenshots{
  width: 100%;
  max-height: 327px;
  border-radius: 15px;
  /*box-shadow: 0 0 5px white;*/
  border: 3px solid var(--color);
  display: block;
  margin: 0 auto;
}

.project{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  align-items: center;
  /*margin-bottom: 200px;*/
  /*border: 1px solid red;*/
}

.project .projectdes{
  width: 100%;
  text-align: center;
  /*border: 1px solid blue;*/
}

.project p{
  line-height: 20px;
}

.project h4{
  text-align: center;
}

.project .github{
  height: 20px;
  width: 20px;
  position: relative;
  top: 4px;
  margin: 0 4px;
}

.project .exlink{
  position: relative;
  top: 4px;
}

label{
  display: none;
}

.menu{
  display: none;
}

.caro{
  /*border: 1px solid red;*/
  width: 50%;
  min-width: 520px;
  max-width: 700px;
  display: flex;
  height: fit-content;
  padding-bottom: 20px;
}

.project p{
  margin-top: -10px;
}
.dot, .active-dot{
  margin-bottom: 5px;
  width: 10px;
  height: 15px;
  border-radius: 50px;
  margin-right: 2px;
  border: 1px solid var(--color)
}

.active-dot{
  background-color: var(--color);
}

/*project*/


/*about*/

.aboutmain{
  /*border: 1px solid red;*/
  border-top: 1px solid var(--color);
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  /*margin-left: -8px;*/
  margin-bottom: -50px;
  justify-content:center;
  align-items: center;
  color: white;
  background-color: var(--color);
}



.aboutmain .person{
  margin-left: 10%;
  width: 22%;
  height: fit-content;
  border-radius: 500px;
  border: 3px solid var(--color);
  /*box-shadow: 0 0 5px var(--color);*/
}

.aboutmain a{
  color: white;
}




/*about*/

.mobilemenu{
  display: none;
}

/*active*/
.logo:hover{
  cursor: pointer;
}

nav ul li:hover{
  cursor: pointer;
  color: white;
  background-color: hsl(198, 20%, 13%);
  font-size: 0.9rem;
  border-radius: 5px;
}


.screenshots:hover{
  width: 99%;
}

.menu:hover{
  cursor: pointer;
}

.github:hover, 
.gmail:hover, 
.twitter:hover, 
.instagram:hover, 
.html:hover, 
.css:hover, 
.react:hover, .js:hover{
  filter: opacity(70%);
}


/*active*/

#check{
  display: none;
}

/*mobile*/
@media (max-width:800px) {


  .caro{
    /*border: 1px solid red;*/
    width: 100%;
    min-width: 0px;
    max-width: unset;
    display: flex;
    height: fit-content;
    padding-bottom: 20px;
    /*border: 1px solid red;*/
  }


  label{
    display: block;
  }

  nav{
    padding: 0 25px;
    padding-top: 30px;
    align-items: center;
  }
  .logo{
    margin-top: 0px;
    font-size: 1rem;
    margin-left: 0px;
  }

  nav ul{
    display: none;
  }
  
  .menu{
    display: block;
    color: var(--color);
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 10px;
  }

  .main{
    margin: 0;
    /*margin-top: max(7vh, 30px);*/
    display: flex;
    width: 100vw;
    margin-left: -8px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
  }

  
  
  .des{
    width: 100%;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .des a{
    color: var(--color);
  }
  
  .html, .css, .react, .js{
    position: relative;
    top: 5px;
    height: 25px;
    width: 100%;
    margin-top: 2px;
    /*margin: 0px 20px ;*/
  }
  
 
  
  
  
  .person{
    width: 60%;
    margin-bottom: 0px;
  }
  
  .contacts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  
  .github, .twitter, .gmail, .instagram{
    width: 100%;
    height: 25px;
  }
  
  
  .techs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.9rem;
  }

  #mobileLink{
    margin-left: -30%;
  }
  
  .mobilemenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    /*left: 55%;
    right: 50%;*/
    right: -200px;
    top: 0;
    /*top: 28.5vh;*/
    height: 40vh;
    background-color: white;
    /*transform: translate(-50%, -50%);*/
    width: 170px;
    box-shadow: 0 0 4px var(--color);
  }


 

  #check:checked ~ .mobilemenu{
    right: 0;
  }

  .mobilemenu ul{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
  }

  .mobilemenu ul li{
    margin-left: -20px;
  }


  /*about*/

.aboutmain{
  padding-top: 50px;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  /*height: 100vh;*/
  height: fit-content;
  margin-top: 60px;
  /*margin-left: -8px;*/
  margin-bottom: -50px;
  justify-content:center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 30px;
  padding-bottom: 20px;
}

.aboutmain .des{
  width: 100%;
  height: 100%;
}

.aboutmain .person{
  margin-top: 20px;
  margin-left: 0;
  width: 45%;
  height: fit-content;
  border-radius: 500px;
 border: 3px solid var(--color);
}

.aboutmain a{
  color: white;
}




/*about*/


/*project*/

.projectmain{
  align-items: center;
  margin-top: 60px;
  display: flex;
  width: 100vw;
  /*margin-left: -8px;*/
  flex-direction: column;
  color: var(--color);
  height: 100vh;
  /*margin-bottom: -50px;*/
  /*padding-bottom: 150px;*/
}

.projectmain a{
  color: var(--color);
}


.screenshots{
  width: 100%;
  max-height: 327px;
  border-radius: 15px;
  border: 3px solid var(--color);
  display: block;
  margin: 0 auto;
  /*margin-top: 20%;*/
}

/*.screenshots{
  width: 100%;
  height: 50%;
  border-radius: 15px;
  border: 3px solid var(--color);
  display: block;
  margin: 0 auto;
}*/

.project{
  
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 0px;
}

.project .projectdes{
  width: 100%;
  text-align: center;
  /*margin-top: -18%;*/
}

.project p{
  line-height: 25px;
}

.project h4{
  text-align: center;
}

.project .github{
  height: 20px;
  width: 20px;
  position: relative;
  top: 4px;
  margin: 0 4px;
}

.project .exlink{
  position: relative;
  top: 4px;
}



/*project*/


}


/*mobile*/


/*footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  padding: 10px;
  background-color: white;
  max-height: 35px;
}

footer a{
  color: var(--color);
  opacity: 0;
  font-weight: 700;
}*/
